# All api url and key 

REACT_APP_WEATHER_API_KEY=74fe4ba57afa5cb85826185a3a8b4e2c
REACT_APP_GEODB_KEY=50355a917dmshf0df31434d7f77ep1fa5d2jsnf7c2c1a99ac5
REACT_APP_FOURSQUARE_KEY=OTXLT5MUFSHKLMUOK2AKIDAPC4V40SV1GL0LVJISEZQPIF3B

# APi base Url
REACT_APP_WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5
REACT_APP_COUNTRIES_API_BASE_URL=https://restcountries.com/v3.1
REACT_APP_GEODB_API_BASE_URL=https://wft-geo-db.p.rapidapi.com/v1/geo
REACT_APP_FOURSQUARE_API_BASE_URL=https://places-api.foursquare.com

